GROQ_API_KEY=your_groq_api_key

# Mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_mailtrap_user
SMTP_PASSWORD=your_mailtrap_password
EMAIL_FROM=noreply@example.com
EMAIL_FROM_NAME=KYC Service

DATA_PROVIDER_URL=http://microservice-donnees-brutes/api/v1/kyc

# KYC Callback
KYC_CALLBACK_URL=http://your-service/kyc/callback
KYC_CALLBACK_TOKEN=your_callback_token
KYC_CALLBACK_TIMEOUT=10

# InsightFace
INSIGHTFACE_MODEL=buffalo_l
INSIGHTFACE_PROVIDERS=CPUExecutionProvider
INSIGHTFACE_THRESHOLD=0.40
INSIGHTFACE_CTX_ID=-1

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://domainename.com

# OCR
OCR_LANGUAGE=fra

# Debug
DEBUG=False
